<h1>prolog-hs</h1>

<h2>What is it?</h2>

<p> is a Haskell module developed by Cristian Sottile for the Functional Programming course of the National University of La Plata. This webapp is Scotty based, and uses the prolog-hs module. </p>

<p> As you may guess from the name, it is a Haskell based Prolog. </p>

<h2>How to use it?</h2>

<p> You need to provide a *Prolog program*, and a *goal*, and prolog-hs will answer: </p>

<p> * Yeah or Nope, if the goal didn't contain variables; </p>
<p> * the substitutions that satisfies your query, in case there was any, if the goal did contain variables. </p>

